/*@import "bourbon";

//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);
$font-open: 'Open Sans', sans-serif;
$color-snow: #fff;
$color-gray: #e2e1f1;
$color-snow: #fff;
$color-orange: #ce8d1c;
.title-header{
    color: $color-snow;
    font-size: 4em;
    text-align: center;
    font-weight: 800;
    margin-bottom: 0;
}

body{
    background: #222629;
    margin-top: 40px;
    font-family: $font-open;
}*/
@font-face { font-family: Overwatch; src: url('./bignoodletitling/big_noodle_titling.ttf'); }

ul{
    list-style-type: none;
}

.player-match{
    width: 60em;
    margin: auto;
    text-align: center;
}
.title-header{
    font-size: 2em;
    text-align: center;
}

th.header{
    text-align: center;
    width: 7em;
}
th.pool{
    width: 46em;
}
.player{
    display: inline-block;
    width: 7em;
    height: 8em;
    float: left;
    margin-bottom: 2em;
}
.selected{
    border-bottom: 1px solid black;
}

#champion-pool-section{
    vertical-align: top;
}
#champion-pool-table{
    width: 100%;
}

.champion{
    width: 5em;
    float: none;
    height: 5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 3em;
}
.image{
    width: 5em;
    height: 5em;
}

.hero-class{
    font-family: Overwatch;
    font-size: 3em;
}

div.player.champion:after{
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

div.player.champion:hover:after{
    width: 100%;
    background: #43484c;
}

.selection{
    width: 7em;
    height: 7em;
}


p#standard-comp{
    float: left;
    margin-left: 19em;
}

div#circle-standard{
    float: left;
    width: 1em;
    margin-top: 0.3em;
    height: 1em;
    margin-left: 1em;
    border-radius: 25px;
    background: red;
}

p#counter-comp{
    float: left;
    margin-left: 19em;
}

div#circle-counter{
    float: left;
    width: 1em;
    margin-top: 0.3em;
    height: 1em;
    margin-left: 1.5em;
    border-radius: 25px;
    background: red;
}
